/* Container que centraliza o card na tela */
.main-container {
    background-color: #0a0e14;
    /* Fundo cinza claro */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo do Card Branco */
.register-card {
    background-color: #0c1d36;
    padding: 40px;
    margin: 50px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#login-title {
    font-size: 26px;
    color: white;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 14px;
    color: #606770;
    margin-bottom: 24px;
}

/* Alinhamento do formulário */
form {
    text-align: left;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #808080;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px rgba(24, 119, 242, 0.2);
    /* Efeito de brilho ao clicar */
}

/* Botão Azul */
.btn-register {
    width: 100%;
    padding: 12px;
    background-color: #000090;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn-register:hover {
    background-color: #0000d0;
}
